
@media print {
  .quebra{
    page-break-after: always;
  }
  #btnEnviar {
    display: none;
  }
}

h1,
.h1 {
  font-size: 56px;
}
h2,
.h2 {
  font-size: 30px;
}
h3,
.h3 {
  font-size: 24px;
}
h4,
.h4 {
  font-size: 18px;
}
h5,
.h5 {
  font-size: 14px;
}
h6,
.h6 {
  font-size: 12px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 40px;
  padding-right: 40px;
}

hr {
  margin-top: 15px;
  margin-bottom: 15px;
  border: 0;
  border-top: 1px solid #333;
}
.hrfino {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0;
  border-top: 1px solid #f7f7f7;
}