@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

/* Base Styles
********************************************************************* */
html {
  font-size: 62.5%;
}
body {
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 400;
  font-family: 'Cabin', sans-serif;
  color: #222;
}

main{
  background: #e55d87;
  background: -moz-linear-gradient(-45deg, #e55d87 0%, #5fc3e4 100%);
  background: -webkit-linear-gradient(-45deg, #e55d87 0%, #5fc3e4 100%);
  background: linear-gradient(135deg, #e55d87 0%, #5fc3e4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e55d87', endColorstr='#5fc3e4', GradientType=1 );
}

header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100vh;

}
.title {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  padding: 2rem;
  max-width: 960px;
  text-align: center;
}
.title img {
  height: 130px;
  margin-bottom: 28px;
  margin: 0;
  padding: 0;
  color: #FFFFFF;
}
.title h2 {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-top: 20px;
}

.butgo {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #ccc;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background: #e55d87;
  background: -moz-linear-gradient(-45deg, #e55d87 0%, #5fc3e4 100%);
  background: -webkit-linear-gradient(-45deg, #e55d87 0%, #5fc3e4 100%);
  background: linear-gradient(90deg, #e55d87 0%, #5fc3e4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e55d87', endColorstr='#5fc3e4', GradientType=1 );
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  box-sizing: border-box;
  margin-bottom: 40px;
}
.butgo:hover {
  background: #e55d87;
  background: -moz-linear-gradient(-45deg, #5fc3e4 0%, #e55d87 100%);
  background: -webkit-linear-gradient(-45deg, #5fc3e4 0%, #e55d87 100%);
  background: linear-gradient(135deg, #5fc3e4 0%, #e55d87 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5fc3e4', endColorstr='#e55d87', GradientType=1 );
  text-decoration: none;
  color: #ccc;
}

/* Footer Section
********************************************************************* */
footer {
  min-height: 60px;
  padding: 10px 0 20px 0;
  /*background: #abc;*/
}
footer p {
  text-align: center;
  color: #FFFFFF;
  font-size: 14px;
  margin: 20px 0 0 0;
}
.red{
  color: red;
}
.muted{
  color: #555;
  text-decoration: none;
}