/* body */
*{
margin: 0;
padding: 0;
outline:none;
list-style:none;
}
a{
	text-decoration:none;	
}
body{
	padding-top:1px;
	display:block;
	font-family: "Times New Roman";
	font-variant:normal;
	width:795px;
	height:auto;
	margin: auto;
	background:#fff;
}
/*body*/

.container{
height: 1100px;
width: 785px;
border: 2px solid #000;
border-radius: 17px;

}
.hender{
float: left;
}
.h_imagem{
float: left;
height: 170px;
width: 150px;
border: 0px solid #000;
}
.h_imagem img{
	position: absolute;
	height: 160px;
	width: 140px;
	margin: 5px;
}

.h_titulo{
height: 170px;
width: 600px;
text-align: center;
float: left;
border: 0px solid #000;
}
.codd{
float: left;
border: 0px solid #000;
width: 740px;
text-align: center;
padding: 10px;
}
.main{
	float: left;
	margin: 5px 20px 5px 20px;
	border: 1px solid #000;
}
.main h3{
	padding-top: 7px;
}
.main h4{
	padding-top: 7px;
	padding-left: 7px;
}
.main2{
	float: left;
	width: 715px;
	margin: 20px;
	border: 0px solid #000;	
}
.main2 h3{
	text-align: center;
}

.fot{
	float: left;
	width: 715px;
	margin: 20px;
	border: 0px solid #000;
	text-align: center;
}
.foot{
	float: left;
	width: 700px;
	margin-left: 40px;
	margin-top: 80px;
	text-align: center;
	border: 0px solid #000;
	text-align: center;	
}