/* body */
*{
	outline:none;
	list-style:none;
}
a{
	text-decoration:none;	
}
body{
	padding-top:1px;
	display:block;
	font: 20px sans-serif;
	font-variant:normal;
	width:700px;
	height:auto;
	margin: auto;
	border:2px #000;
	background:#fff;
}
/*body*/

/*passagem comprovante*/
.cabecalhopassagem{
	float: left;
}
.cabecalhopassagem .imagenpref{
	background: yellow;
	width:120px ;
	float: left;
}
.cabecalhopassagem .imagenpref img{
	height: 150px;
	width: 120px;
}
.cabecalhopassagem .cabtexto{
	width: 580px;
	float: right;
}
.cabecalhopassagem .cabtexto h1{
	font-family: Arial;
	font-size:1.2em;
	text-align: center;
	font-weight: 900;
}
.cabecalhopassagem .cabtexto h2{
	font-size:0.8em;
	font-weight: 900;
	text-align: center;
}
.cabecalhopassagem .cabtexto h3{
	font-size:0.8em;
	text-align: center;
}
.passagemtabela{}
.passagemtabela table {
	width: 690px;
	border-collapse:collapse;
	border-left:1px solid #686868;
	border-right:1px solid #686868;
	font:0.6em/145% 'Trebuchet MS',helvetica,arial,verdana;
	color: #333;
}
.passagemtabela td, th {
	padding:3px 3px 2px 3px;
}
.passagemtabela thead, thead th, tfoot, tfoot th{
	background: #777;
	color:#fff;
}
.passagemtabela tfoot th {
	text-align:right
}
.passagemtabela tbody th {
	border-bottom: dotted 1px #333;
	border-left: dotted 1px #333;
	text-align: center;
	padding-left: 20px;
	white-space: nowrap;
}
.passagemtabela .odd {}
/*passagem comprovante*/

/*visita comprovante*/
.visitacomprovante{
}
.visitacomprovante label{
	display: block;
	float: left;
}
.visitacomprovante h1{
	display: block;
	font-weight: 900;
	font-family: sans-serif;
	font-size:24px;
	color: #950000;
}
.visitacomprovante h2{
	font-weight: 400;
	font-family: sans-serif;
	font-size:12px;
	margin-right: 10px;
}
.visitacomprovante h3{
	float: left;
	font-weight: 800;
	font-family: sans-serif;
	font-size:12px;
	color: #5F9EA0;
	margin-right: 30px;
}
.visitacomprovante h4{
	float: left;
	font-weight: 900;
	font-family: sans-serif;
	font-size:20px;
	color: #000;
	margin-right: 30px;
}
.visitacomprovante hr{
	display: block;
	border: outset 1px #000;
	clear: left;
}
/*visita comprovante*/


/*cesta basica cb entrega*/
.cbentrega{
}
.cbentrega label{
display: block;
	float: left;
}
.cbentrega h1{
	display: block;
	font-weight: 900;
	font-family: sans-serif;
	font-size:24px;
	color: #950000;
}
.cbentrega h2{
	font-weight: 400;
	font-family: sans-serif;
	font-size:12px;
	margin-right: 10px;
}
.cbentrega h3{
	float: left;
	font-weight: 800;
	font-family: sans-serif;
	font-size:12px;
	color: #5F9EA0;
	margin-right: 30px;
}
.cbentrega h4{
	float: left;
	font-weight: 900;
	font-family: sans-serif;
	font-size:20px;
	color: #000;
	margin-right: 30px;
}
.cbentrega hr{
	display: block;
	border: outset 1px #000;
    clear: left;
}
/*cesta basica cb entrega*/

/*cesta basica cb relatorio mensal*/
.cbrelatoriomensal{
	color: #000;
}
.cbrelatoriomensal table{
	color: #000;
	font-size: 9px;
	border: Window;
}
/*cesta basica cb relatorio mensal*/

/*atividade relatorio */
.atrelatorioprof{
	color: #000;
}
.atrelatorioprof h1{
    font-family: 'Vidaloka', serif;
	font-size: 28px;
}
.atrelatorioprof h2{
    font-family: 'Ubuntu', sans-serif;
	font-size: 24px;
}
.atrelatorioprof h3{
    font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
}
.atrelatorioprof table{
	color: #000;
	font-size: 9px;
	border: Window;
}
/*atividade por relatorio*/

/* div pessoas cb historico*/
.pessoascbhistoricoprint{
	width: 595px;
	margin: 10px 10px 10px 10px;
	padding:5px 10px 5px 10px;
	border: groove 1px #000;
}
.pessoascbhistoricoprint h1{
	display: block;
	float: left;
	font-weight: 900;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:26px;
	color: #950000;
}
.pessoascbhistoricoprint h2{
	float: left;
	font-weight: 400;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:16px;
}
.pessoascbhistoricoprint h3{
	float: left;
	font-weight: 800;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:16px;
	color: #5F9EA0;
}
.azul{
	color: #0000FF;
}
.vermelho{
	color: #FF0000;
}
.verde{
	color: #00FF00;
}
.pessoascbhistoricoprint hr{
	display: block;
	border: outset 1px #000;
}
.pessoascbhistoricoprint br{
	clear: left;
}
/*div pessoas cb historico*/

/* div pessoas at historico*/
.pessoasathistoricoprint{
	width: 595px;
	margin: 10px 10px 10px 10px;
	padding:5px 10px 5px 10px;
	border: groove 1px #000;
}
.pessoasathistoricoprint h1{
	display: block;
	float: left;
	font-weight: 900;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:26px;
	color: #950000;
}
.pessoasathistoricoprint h2{
	float: left;
	font-weight: 400;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:16px;
}
.pessoasathistoricoprint h3{
	float: left;
	font-weight: 800;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:16px;
	color: #5F9EA0;
}
.azul{
	color: #0000FF;
}
.vermelho{
	color: #FF0000;
}
.verde{
	color: #00FF00;
}
.pessoasathistoricoprint hr{
	display: block;
	border: outset 1px #000;
}
.pessoasathistoricoprint br{
	clear: left;
}
/*div pessoas cb historico*/

pull-right{
	float: right;
}