/* body */
*{
margin: 0;
padding: 0;
outline:none;
list-style:none;
}
a{
	text-decoration:none;	
}

body{
	padding-top:1px;
	display:block;
	font-family: "Times New Roman";
	font-variant:normal;
	width:680px;
	height:auto;
	margin: auto;
	background:#fff;
}
/*body*/

.container{
height: 245px;

}
.ladoa{
	float: left;
	height: 245px;
	width: 49%;
	border: 2px #000 solid;

}
.c_numero{
	border: 3px solid #000;
	float: right;
	padding: 2px;
}
.principal{
	float: left;
	border: 0 solid #000;
	height: 140px;
	width: 215px;
}
.principal img{
	position: absolute;
	height: 140px;
	width: 215px;
	opacity: 0.3;
}
.principal h4{
	padding-top: 2px;
	padding-left: 5px;
}
.principal h5{
	padding-top: 2px;
	padding-left: 5px;
}
.principal strong{
	text-decoration: underline;
}
.foto{
	clear: both;
	border: 2px solid #000;
	float: right;
	padding: 2px;
	height: 135px;
	width: 100px;	
}
.fot{
	clear: both;
	
	bottom: 0;
}
.emissao{
	float: right;
	border: 2px solid #000;
	float: right;
	padding: 2px;
	font-size: .77em;
}
.secA{
	float: right;
	padding: 15px 8px 0 8px;
	margin-right: 10px;
}
.sec{

	font-size: .55em;
	border-top: 2px solid #000;
}

.assisA{
	float: right;
	padding: 15px 10px 0 10px;
	margin-right: 10px;
}
.assis{

	font-size: .55em;
	border-top: 2px solid #000;

}






.ladob{
	float: right;
	height: 245px;
	width: 49%;
	border: 2px #000 solid;
	text-align: center; 
}
.ladob h3, .ladob h4, .ladob h6{
	padding: 0 5px;
}
