/* body */
*{
margin: 0;
padding: 0;
outline:none;
list-style:none;
}
a{
	text-decoration:none;	
}

body{
	padding-top:1px;
	display:block;
	font-family: "Times New Roman";
	font-variant:normal;
	width:680px;
	height:auto;
	margin: auto;
	background:#fff;
}
/*body*/

.container{
	/*height: 245px;*/
}
.todo{
	border: 2px #000 solid;
	display: flex;
	/*background: yellowgreen;*/
	/*transform: rotate(180deg); !* Equal to rotateZ(45deg) *!*/
}


.blocoA{
	border: 0;
	float: left;
	width: 10%;
	background: #fff;
}
.blocoA img{
	width: 100%;
}



.blocoB{
	font-family: Arial, Helvetica, sans-serif;
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
	border: 2px #000 solid;
	float: left;
	width: 90%;
	background: white;
}

.topo{
	display: flex;
	background: white;
}
.logo{
	width: 15%;
	/*background: #f0ad4e;*/
}
.logo img{
	width: 100%;
}

.logo2{
	width: 15%;
	/*background: #0a6ebd;*/
	padding-right: 3px;
}
.logo2 img{
	width: 100%;
}

.topo_info{
	width: 70%;
	text-align: center;
	/*line-height:25px;*/
}
.topo_info h2{
	margin-bottom: 5px;
	margin-top: 2px;
}

.doc{
	text-align: center;
}
.lei{
	text-align: center;
}
.reg{
	margin-top: 7px;
	margin-bottom: 4px;
	text-align: center;
}
.hr1{
	margin-right: 5px;
}

.emissao{

	/*margin-left: 100px;*/
	text-align: center;
	margin-top: 10px;
}

.validade{
	text-align: center;
	margin-top: 10px;
}

.infobeneficiario{
	text-align: center;
	margin-top: 10px;
}


.info2{
	text-align: center;
	margin-top: 50px;
}

.info30{
	text-align: center;
	margin-top: 30px;
}

.info40{
	text-align: center;
	margin-top: 40px;
}
.info50{
	text-align: center;
	margin-top: 50px;
}

.topomaismargem{
	margin-top: 4px;
}
.blocoC{
	font-family: Arial, Helvetica, sans-serif;
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
	margin-left: 10px;
	border: 2px #000 solid;
	float: left;
	width: 100%;
	height: 358px;
	background: white;
	transform: rotate(180deg);
}
.blocoC h4{
	margin-top: 5px;
	text-align: center;
}
.blocoC h5{
	margin-left: 10px;
}
.blocoC .paragrafo{
	margin-left: 30px;
}
