html, body { height: 100%; }
body {
    background: #a7b1cc;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #e57e5f, #bc9397, #a7b1cc);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #e57e5f, #bc9397, #a7b1cc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100%;
    overflow: hidden;
}
.azultemafonte{
    color: #283d5d;
}

.laranjatemafundo{
    background: #eb7a4a;
}
.laranjatemafonte{
    color: #eb7a4a;
}

#clock {
    color: #283d5d;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #283d5d;
    text-shadow: 0 0 20px #0aafe6, 0 0 20px rgba(10, 175, 230, 0);
}
#clock .hora {
    letter-spacing: 0.05em;
    font-size: 180px;
    padding: 5px 0;
}
#clock .data {
    letter-spacing: 0.1em;
    font-size: 100px;
}

.negrito {
    font-weight: 900;
}