html, body { height: 100%; }
body {
    /*essa proxima linha comentada consome muito processamento*/
    /*background:radial-gradient(ellipse at center, rgba(255,254,234,1) 0%, rgba(255,254,234,1) 35%, #B7E8EB 100%);*/
    background:  #ffefd5 100%;
    overflow: hidden;
}

.ocean {
    height: 1%;
    width:100%;
    position:absolute;
    bottom:0;
    left:0;
    background: #0a0b0d;
}

/*.wave {*/
/*    background: url("img/wave.svg") repeat-x;*/
/*    position: absolute;*/
/*    top: -198px;*/
/*    width: 6400px;*/
/*    height: 198px;*/
/*    animation: wave 17s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;*/
/*    transform: translate3d(0, 0, 0);*/
/*}*/

/*.wave:nth-of-type(2) {*/
/*    top: -175px;*/
/*    animation: wave 17s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 17s ease -1.25s infinite;*/
/*    opacity: 1;*/
/*}*/

/*@keyframes wave {*/
/*    0% {*/
/*        margin-left: 0;*/
/*    }*/
/*    100% {*/
/*        margin-left: -1600px;*/
/*    }*/
/*}*/

/*@keyframes swell {*/
/*    0%, 100% {*/
/*        transform: translate3d(0,-25px,0);*/
/*    }*/
/*    50% {*/
/*        transform: translate3d(0,5px,0);*/
/*    }*/
/*}*/