html, body { height: 100%; }
body {
    /*essa proxima linha comentada consome muito processamento*/
    /*background:radial-gradient(ellipse at center, rgba(255,254,234,1) 0%, rgba(255,254,234,1) 35%, #B7E8EB 100%);*/
    background:  #ffefd5 100%;
    overflow: hidden;
}

/*#back{*/
/*    background: url("img/mcu_opg.png") ;*/
/*}*/

.ocean {
    height: 1%;
    width:100%;
    position:absolute;
    bottom:0;
    left:0;
    background: #0a0b0d;
}

.wave {
    background: url("img/wave.svg") repeat-x;
    position: absolute;
    top: -198px;
    width: 6400px;
    height: 198px;
    animation: wave 17s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
    top: -175px;
    animation: wave 17s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 17s ease -1.25s infinite;
    opacity: 1;
}

@keyframes wave {
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: -1600px;
    }
}

@keyframes swell {
    0%, 100% {
        transform: translate3d(0,-25px,0);
    }
    50% {
        transform: translate3d(0,5px,0);
    }
}








svg {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    overflow: visible;
}

.survey-option {
    width: 100px;
    height: 100px;
    cursor: pointer;
}
.survey-option:hover .fill {
    fill: #2ddbcd;
}
.survey-option:hover .stroke {
    -webkit-transform: translateY(-11.1111111111px) rotate(-25deg);
    -moz-transform: translateY(-11.1111111111px) rotate(-25deg);
    -ms-transform: translateY(-11.1111111111px) rotate(-25deg);
    -o-transform: translateY(-11.1111111111px) rotate(-25deg);
    transform: translateY(-11.1111111111px) rotate(-25deg);
}
.survey-option.animate .stroke {
    stroke-dashoffset: -260;
}
.survey-option.select .stroke {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}
.survey-option.select .fill {
    opacity: 0;
}


.survey-option.select .checkmarkruim {
    stroke: #f00;
    stroke-dashoffset: -69;
    -webkit-transition: stroke 0.5s 0.4s, stroke-dashoffset 0.75s 0.5s ease;
    -moz-transition: stroke 0.5s 0.4s, stroke-dashoffset 0.75s 0.5s ease;
    transition: stroke 0.5s 0.4s, stroke-dashoffset 0.75s 0.5s ease;
}
.strokeruim {
    fill: transparent;
    stroke: #f00;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    stroke-dasharray: 1, 5, 50, 5, 65;
    -webkit-transform: translateY(-10px) rotate(-25deg);
    -moz-transform: translateY(-10px) rotate(-25deg);
    -ms-transform: translateY(-10px) rotate(-25deg);
    -o-transform: translateY(-10px) rotate(-25deg);
    transform: translateY(-10px) rotate(-25deg);
    -webkit-transform-origin: center;
    -moz-transform-origin: center;
    -ms-transform-origin: center;
    -o-transform-origin: center;
    transform-origin: center;
    -webkit-transition: stroke-dashoffset 0.5s, -webkit-transform 0.25s;
    -moz-transition: stroke-dashoffset 0.5s, -moz-transform 0.25s;
    transition: stroke-dashoffset 0.5s, transform 0.25s;
}

.survey-option.select .checkmarkregular {
    stroke: #500960;
    stroke-dashoffset: -69;
    -webkit-transition: stroke 0.5s 0.4s, stroke-dashoffset 0.75s 0.5s ease;
    -moz-transition: stroke 0.5s 0.4s, stroke-dashoffset 0.75s 0.5s ease;
    transition: stroke 0.5s 0.4s, stroke-dashoffset 0.75s 0.5s ease;
}
.strokeregular {
    fill: transparent;
    stroke: #500960;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    stroke-dasharray: 1, 5, 50, 5, 65;
    -webkit-transform: translateY(-10px) rotate(-25deg);
    -moz-transform: translateY(-10px) rotate(-25deg);
    -ms-transform: translateY(-10px) rotate(-25deg);
    -o-transform: translateY(-10px) rotate(-25deg);
    transform: translateY(-10px) rotate(-25deg);
    -webkit-transform-origin: center;
    -moz-transform-origin: center;
    -ms-transform-origin: center;
    -o-transform-origin: center;
    transform-origin: center;
    -webkit-transition: stroke-dashoffset 0.5s, -webkit-transform 0.25s;
    -moz-transition: stroke-dashoffset 0.5s, -moz-transform 0.25s;
    transition: stroke-dashoffset 0.5s, transform 0.25s;
}

.survey-option.select .checkmarkbom {
    stroke: #0b75c9;
    stroke-dashoffset: -69;
    -webkit-transition: stroke 0.5s 0.4s, stroke-dashoffset 0.75s 0.5s ease;
    -moz-transition: stroke 0.5s 0.4s, stroke-dashoffset 0.75s 0.5s ease;
    transition: stroke 0.5s 0.4s, stroke-dashoffset 0.75s 0.5s ease;
}
.strokebom {
    fill: transparent;
    stroke: #0b75c9;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    stroke-dasharray: 1, 5, 50, 5, 65;
    -webkit-transform: translateY(-10px) rotate(-25deg);
    -moz-transform: translateY(-10px) rotate(-25deg);
    -ms-transform: translateY(-10px) rotate(-25deg);
    -o-transform: translateY(-10px) rotate(-25deg);
    transform: translateY(-10px) rotate(-25deg);
    -webkit-transform-origin: center;
    -moz-transform-origin: center;
    -ms-transform-origin: center;
    -o-transform-origin: center;
    transform-origin: center;
    -webkit-transition: stroke-dashoffset 0.5s, -webkit-transform 0.25s;
    -moz-transition: stroke-dashoffset 0.5s, -moz-transform 0.25s;
    transition: stroke-dashoffset 0.5s, transform 0.25s;
}

.survey-option.select .checkmarkotimo {
    stroke: #0a602c;
    stroke-dashoffset: -69;
    -webkit-transition: stroke 0.5s 0.4s, stroke-dashoffset 0.75s 0.5s ease;
    -moz-transition: stroke 0.5s 0.4s, stroke-dashoffset 0.75s 0.5s ease;
    transition: stroke 0.5s 0.4s, stroke-dashoffset 0.75s 0.5s ease;
}
.strokeotimo {
    fill: transparent;
    stroke: #0a602c;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    stroke-dasharray: 1, 5, 50, 5, 65;
    -webkit-transform: translateY(-10px) rotate(-25deg);
    -moz-transform: translateY(-10px) rotate(-25deg);
    -ms-transform: translateY(-10px) rotate(-25deg);
    -o-transform: translateY(-10px) rotate(-25deg);
    transform: translateY(-10px) rotate(-25deg);
    -webkit-transform-origin: center;
    -moz-transform-origin: center;
    -ms-transform-origin: center;
    -o-transform-origin: center;
    transform-origin: center;
    -webkit-transition: stroke-dashoffset 0.5s, -webkit-transform 0.25s;
    -moz-transition: stroke-dashoffset 0.5s, -moz-transform 0.25s;
    transition: stroke-dashoffset 0.5s, transform 0.25s;
}

.fill {
    -webkit-transition: fill 0.25s, opacity 0.5s 0.25s;
    -moz-transition: fill 0.25s, opacity 0.5s 0.25s;
    transition: fill 0.25s, opacity 0.5s 0.25s;
    fill: #2EE2D3;
    opacity: 1;
}

.checkmarkruim, .checkmarkregular, .checkmarkbom, .checkmarkotimo{
    fill: transparent;
    stroke: transparent;
    stroke-width: 5;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 0, 100, 0, 10, 55, 12;
    stroke-dashoffset: 0;
    -webkit-transition: stroke 0.1s 0s, stroke-dashoffset 0.1s 0s;
    -moz-transition: stroke 0.1s 0s, stroke-dashoffset 0.1s 0s;
    transition: stroke 0.1s 0s, stroke-dashoffset 0.1s 0s;
}


























.middle {
    width: 100%;
    text-align: center;
    /* Made by */
}
.middle h1 {
    font-family: "Dax", sans-serif;
    color: #fff;
}
.middle input[type="radio"] {
    display: none;
}
.middle input[type="radio"]:checked + .box {
    background-color: #007e90;
}
.middle input[type="radio"]:checked + .box span {
    color: white;
    transform: translateY(70px);
}
.middle input[type="radio"]:checked + .box span:before {
    transform: translateY(0px);
    opacity: 1;
}
.middle .box {
    width: 200px;
    height: 200px;
    background-color: #fff;
    transition: all 250ms ease;
    will-change: transition;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    position: relative;
    font-family: "Dax", sans-serif;
    font-weight: 900;
}
.middle .box:active {
    transform: translateY(10px);
}
.middle .box span {
    position: absolute;
    transform: translate(0, 60px);
    left: 0;
    right: 0;
    transition: all 300ms ease;
    font-size: 1.5em;
    user-select: none;
    color: #007e90;
}
.middle .box span:before {
    font-size: 1.2em;
    font-family: FontAwesome;
    display: block;
    transform: translateY(-80px);
    opacity: 0;
    transition: all 300ms ease-in-out;
    font-weight: normal;
    color: white;
}
.middle .b-sim span:before {
    content: '\f00c';
    font-family: FontAwesome;
    color: lightgreen;
}
.middle .b-nao span:before {
    content: '\f00c';
    font-family: FontAwesome;
    color: red;
}
